.container {
  width: 100%;
  margin-top: 80px;
}

.backbutton {
  position: fixed;
  top: 20px;
  left: calc(15vw / 2);
  z-index: 1000;
  cursor: pointer;
}

.minititle {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color: rgba(57, 63, 72, 1);
  font-size: 18px;
  font-weight: bold;
}

.inputGroup {
  margin-bottom: 16px;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.label {
    display: flex;
    margin-bottom: 6px;
}

.genderText {
  color: #333;
}

.arrow {
  width: 16px;
  height: 16px;
}

.genderInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.genderDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.genderText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.genderText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.firstbox {
    border-radius: 20px 20px 0px 0px;
}

.lastbox {
    border-radius: 0px 0px 20px 20px;
}

.genderItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.genderItem:hover {
  background-color: #b9b9b9;
}

.genderItem span {
  padding: 8px 0;
}

.divider {
  height: 1px;
  background-color: #ccc;
}

.familyInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.familyDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.familyText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.familyText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.familyItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.familyItem:hover {
  background-color: #b9b9b9;
}

.familyItem span {
  padding: 8px 0;
}

.salaryInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.salaryDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.salaryText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.salaryText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.salaryItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.salaryItem:hover {
  background-color: #b9b9b9;
}

.salaryItem span {
  padding: 8px 0;
}

.hireInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.hireDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.hireText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.hireText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.hireItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.hireItem:hover {
  background-color: #b9b9b9;
}

.hireItem span {
  padding: 8px 0;
}

.additionalInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.additionalDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.additionalText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.additionalText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.additionalItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.additionalItem:hover {
  background-color: #b9b9b9;
}

.additionalItem span {
  padding: 8px 0;
}

.additionalTypeInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.additionalTypeDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.additionalTypeText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.additionalTypeText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.additionalTypeItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.additionalTypeItem:hover {
  background-color: #b9b9b9;
}

.additionalTypeItem span {
  padding: 8px 0;
}

.disabilityRegisteredInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.disabilityRegisteredDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.disabilityRegisteredText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.disabilityRegisteredText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.disabilityRegisteredItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.disabilityRegisteredItem:hover {
  background-color: #b9b9b9;
}

.disabilityRegisteredItem span {
  padding: 8px 0;
}

.disabilityGradeInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.disabilityGradeDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.disabilityGradeText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.disabilityGradeText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.disabilityGradeItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.disabilityGradeItem:hover {
  background-color: #b9b9b9;
}

.disabilityGradeItem span {
  padding: 8px 0;
}

.disabilityTypeInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  height: 55px;
}

.disabilityTypeDropdown {
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  width: 84.85%;
  z-index: 1;
}

.disabilityTypeText {
  font-size: 18px;
  color: #999999; /* 기본 회색 */
}

.disabilityTypeText.selected {
  color: #000000; /* 선택되었을 때 검정 */
}

.disabilityTypeItem {
  display: flex;
  padding-left: 12px;
  height: 45px;
  cursor: pointer;
  align-items: center;
}

.disabilityTypeItem:hover {
  background-color: #b9b9b9;
}

.disabilityTypeItem span {
  padding: 8px 0;
}

.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-top: 50px;
  width: 70%;
  height: 60px;
  font-size: 17px;
  font-weight: bold;
}