body {
  margin: 0;
  padding: 0;
  background-color: rgba(238, 241, 244, 1);
}

.pageWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageWrapper.noAlignCenter {
  align-items: initial;
}